body{
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: sans-serif;
}
header{
    margin: 0;
    padding: 0;
    background-color: #14213d;
    height: 100px;
}
#logo{
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    float: left;
}
h1{
    margin: 5px;
    color:#fca311;
    float: left;
}
.navbar{
    margin-right: 20px;
    padding: 10px;
    float: right;
}
.navbar a{
    text-decoration: none;
    color: #004e9b;
    text-align: center;
    padding: 3px;
}
.navbar button{
    font-size: 16px;
    background-color: #fca311;
    color: #004e9b;
    border: none;
}
.navbar button:hover{
    background-color: #fca21191;
}
main{
    margin: 0;
    padding: 0;
}
.gym{
    width: 100%;
    height: 1000px;
    background-position: center;
    background-size: cover;
    background-image: url("images/gym.png");
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
#scroll{
    font-size: 50px;
    background-color: #14213d;
    padding: 30px;
}
#UE{
    margin: 30px;
}
table{
    border-width: 0.1cm;
    border-style: solid;
    border-collapse: collapse;
    border-color: #14213d;
    background-color: #14213d;
    color: #fca311;
    font-size: 14px;
}
th{
    border-width: 0.06cm;
    border-style: solid;
    border-color: #475c6c;
}
.t{
    color: #ececec;
}
h2, h3{
    margin-left: 30px;
    color:#14213d;
}
footer{
    margin: 0;
    background-color: #14213d;
    display:block;
    left:0;
    right:0;
    bottom:0;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
}
#f1{
    margin: 0;;
}
.f{
    color: #fca311;
}

/* Styling the Information Page */
#fp{
    margin-left: 40px;
    float: center;
}
ul{
    list-style-type: none;
    margin-left: 40px;
    margin-top: -10px;
    padding: 0;
    overflow: hidden;
    color: #14213d;
}
li{
    padding: 5px;
}
